.no-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    text-align: center;

    h1 {
        font-size: 4.2rem;
    }

    button {
        font-family: inherit;
        font-size: inherit;
        cursor: pointer;
        padding: 25px 80px;
        display: inline-block;
        margin: 15px 30px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700;
        outline: none;
        position: relative;
        border: 4px double #226fbe;
        border-radius: 60px;
        color: #fff;
        background: #226fbe;
        transition: none;
        
        &:hover {
            background: transparent;
            color: #226fbe;
        }
    }
}